/*****************
*** Colors Bar ***
*****************/
.d-flex{ display: flex; }
.d-none{ display: none; }

/*****************
*** Flex ***
*****************/
.flex-row{ flex-direction: row; }
.flex-column{ flex-direction: column; }
.flex-grow{ flex-grow: 1; }
.flex-row-reverse{ flex-direction: row-reverse; }


/**********************
*** Align & Justify ***
***********************/
.justify-content-between{ justify-content: space-between; }
.align-iteams-center{ align-items: center; }